<body>
	<header class="main_header">
		<div class="container">
			<div class="row">
				<div class="top_line main_header__top_line">
					<a href="#" class="top_line__logo_link"><%= image_tag 'logo.png', alt: "Ray" %></a>
					<a href="#" class="button button-size-s button-txt_color-gray">pre-order</a> 
					<nav class="mnu">
						<li class="mnu__item"><a href="#" class="mnu__link">the super remote</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">compatibility</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">gallery</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">reviews &amp; press</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">help</a></li>
					</nav>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="main_header__text_block">
					<h2 class="ray_title-h2 main_header__ray_title">Universal Remote</h2>
					<h1 class="ray_title-h1 ray_title-h1-dark main_header__ray_title">All your remotes bundled into one: The last remote control you’ll ever use? Totally.</h1>
					<p class="text text-size-s main_header__text">Most families have their TV remote, their cable remote, their DVD remote, their soundbar remote, their Roku remote , etc. With Ray, that's a thing of the past . No more looking at hunks of plastic and asking yourself what does what. Once Ray is connected, it combines the features and functions of all your remotes and make the experience of controlling your entertainment even better. That’s not really an exaggeration, either. In fact, the only thing Ray can't do is grab that pint of peanut butter cup ice cream from the freezer and feed it to you. The future: It’s just so easy.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="banner">
					<%= image_tag 'banner.png', class: "banner__img", alt: "Banner" %>
				</div>
			</div>
		</div>
	</header> 
	<section class="section_devices">
		<div class="container">
			<div class="row">
				<div class="section_devices__stickers">
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'tv.png', alt: "Televisions" %>
						</div>
						<span class="device__label">Televisions</span>
					</a>
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'set_top_boxes.png', alt: "Set-Top Boxes" %>
						</div>
						<span class="device__label">Set-Top Boxes</span>
					</a>
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'receivers_soundbars.png', alt: "Receivers & Soundbars" %>
						</div>
						<span class="device__label">Receivers &amp; Soundbars</span>
					</a>
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'dvd.png', alt: "Blu-ray & DVD Players" %>
						</div>
						<span class="device__label">Blu-ray &amp; DVD Players</span>
					</a>
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'apple_tv.png', alt: "Apple TV" %>
						</div>
						<span class="device__label">Apple TV</span>
					</a>
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'roku.png', alt: "Roku" %>
						</div>
						<span class="device__label">Roku</span>
					</a>
					<a href="#" class="device section_devices__device">
						<div class="device__sticker">
							<%= image_tag 'xbox.png', alt: "Xbox 360 & One" %>
						</div>
						<span class="device__label">Xbox 360 &amp; One</span>
					</a>
				</div>
				<div class="section_devices__text_block">
					<h1 class="ray_title-h1 ray_title-h1-dark section_devices__ray_title">Ray connects to everything. Thousands of devices in your home to be exact.</h1>
					<p class="text text-size-s">
						(Yes, you read that right.) So in a matter of minutes, your <a href="#" class="link">TV</a>, <a href="#" class="link">set-top box</a>, <a href="#" class="link">Apple TV</a>, <a href="#" class="link">Roku</a>, <a href="#" class="link">Xbox</a>, <a href="#" class="link">DVD player</a>, <a href="#" class="link">Blu-Ray</a>, <a href="#" class="link">home stereo</a> and any other intelligent device in your house locks into Ray for central command control awesomeness. 
					</p>
				</div>
			</div>
		</div>
	</section> 
	<section class="section_compatibility">
		<div class="container">
			<div class="row">
				<h1 class="ray_title-h1 ray_title-h1-light">Enabled with Wi-Fi, Infrared, ZigBee and Bluetooth technologies, Ray is the HQ of your entertainment.</h1>
				<ul class="producers section_compatibility__producers">
					<li class="producers__col">
						<ul class="producers__list">
							<li class="producers__list_item"><a href="#" class="producers__title">Televisions</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">LG</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Samsung</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Sharp</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Sony</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Vizio</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">and more</a></li>
						</ul>
					</li>
					<li class="producers__col">
						<ul class="producers__list">
							<li class="producers__list_item"><a href="#" class="producers__title">Set-Top Boxes</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Arris</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Cisco</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Motorola</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Samsung</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Scientific Atlanta</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">and more</a></li>
						</ul>
					</li>
					<li class="producers__col">
						<ul class="producers__list">
							<li class="producers__list_item"><a href="#" class="producers__title">Receivers &amp; Soundbars</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Onkyo</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Pioneer</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Samsung</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Sony</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Yamaha</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">and more</a></li>
						</ul>
					</li>
					<li class="producers__col">
						<ul class="producers__list">
							<li class="producers__list_item"><a href="#" class="producers__title">Blu-ray &amp; DVD Players</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">LG</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Samsung</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Sharp</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Sony</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Vizio</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">and more</a></li>
						</ul>
					</li>
					<li class="producers__col">
						<ul class="producers__list">
							<li class="producers__list_item"><a href="#" class="producers__title">Streaming Devices</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Apple TV</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Roku</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Xbox 360</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">Xbox One</a></li>
							<li class="producers__list_item"><a href="#" class="producers__title">and more</a></li>
						</ul>
					</li>
				</ul>
				<a href="#" class="button button-size-m button-txt_color-white">check compatibility</a>
			</div>
		</div>  
	</section> 
	<section class="section_questions">
		<div class="container">
			<div class="row">
				<h1 class="ray_title-h1 ray_title-h1-dark ray_title-h1-capitalize">frequently asked questions</h1>
				<div class="section_questions__content clear_fix">
					<div class="section_questions__text_block">
						<h3 class="ray_title-h3  section_questions__ray_title">Question goes here?</h3>
						<p class="text text-size-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
					</div>
					<div class="section_questions__text_block">
						<h3 class="ray_title-ray_title-h3 section_questions__ray_title">Question goes here?</h3>
						<p class="text text-size-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
					</div>
					<div class="section_questions__text_block">
						<h3 class="ray_title-h3  section_questions__ray_title">Question goes here?</h3>
						<p class="text text-size-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
					</div>
					<div class="section_questions__text_block">
						<h3 class="ray_title-h3  section_questions__ray_title">Question goes here?</h3>
						<p class="text text-size-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
					</div>
				</div>
			 
				<a href="#" class="button button-size-m button-txt_color-gray">learn more</a>
			</div>
		</div>
	</section> 
	<section class="section_remote">
		<div class="container">
			<div class="row">
				<a href="#" class="remote_item"><%= image_tag "Meet_Ray.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Meet Ray</span></a>
				<a href="#" class="remote_item"><%= image_tag "Search.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Search</span></a>
				<a href="#" class="remote_item"><%= image_tag "Discovery.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Discovery</span></a>
				<a href="#" class="remote_item"><%= image_tag "Kids.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Kids</span></a>
				<a href="#" class="remote_item"><%= image_tag "DISH.png", class:"remote_item__img" %><span class="remote_item__cover_bg">DISH Network on Ray</span></a>
				<a href="#" class="remote_item"><%= image_tag "Universal_Remote.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Universal Remote</span></a>
				<a href="#" class="remote_item"><%= image_tag "Streaming.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Streaming</span></a>
				<a href="#" class="remote_item"><%= image_tag "Super_Easy_Set_up.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Super Easy Set Up</span></a>
				<a href="#" class="remote_item"><%= image_tag "Tech_Specs.png", class:"remote_item__img" %><span class="remote_item__cover_bg">Tech Specs</span></a>
				
			</div>
		</div>
	</section>
	<footer class="main_footer">
		<div class="container">
			<div class="row">
				<div class="main_footer__content">
					<ul class="mnu main_footer__mnu">
						<li class="mnu__item"><a href="#" class="mnu__link">about us</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">careers</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">order status</a></li>
						<li class="mnu__item"><a href="#" class="mnu__link">Legal</a></li>
					</ul>
					<form action="" class="main_form main_footer__main_form">
						<p class="main_form__subscribe">
							<input type="text" class="main_form__text" placeholder="Sign Up for Ray Newsletters">
							<input type="submit" class="main_form__submit" value="Subscribe">
						</p>
					</form>
					<ul class="social main_footer__social">
						<li class="social__item"><a href="#" class="social__link"></a></li>
						<li class="social__item"><a href="#" class="social__link"></a></li>
						<li class="social__item"><a href="#" class="social__link"></a></li>
						<li class="social__item"><a href="#" class="social__link"></a></li>
					</ul>
					<p class="copiraight">&copy; 2014-2015 Ray Enterprises Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer> 
